In [2]:
print('hello')

hello

In [3]:
import requests
from bs4 import BeautifulSoup

In [4]:
import numpy as np
import pandas as pd
import json
import csv
from google.oauth2 import service_account
import pygsheets

In [6]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials
scope = ["https://www.googleapis.com/auth/drive", "https://spreadsheets.google.com/feeds"]
credentials = ServiceAccountCredentials.from_json_keyfile_name('D:\studies\stocks project\Stocks-Project\service.json', scope)
gc = gspread.authorize(credentials)

In [7]:
wb = gc.open('StocksProject')
worksheet = wb.worksheet('2000')

Web Scraping

In [266]:
def hasNumbers(inputString):
    return any(char.isdigit() for char in inputString)

In [284]:
def find_symbol(name):
    s = ""
    for x in name:
        if(x == " " or x=="."):
            s += "+"
        elif(x == '&'):
            s += "%26"
        else:
            s += x
    if(s[-1] == '+'):
        s = s + "nse"
    else:
        s = s + "+nse"
    found = 0
    symbol = "NA"
    url = "https://www.google.com/search?q=" + s
    # print(s)
    result  = requests.get(url)
    src = result.content
    soup = BeautifulSoup(src, "html.parser")
    spans = soup.find_all('span')
    lines = [span.get_text() for span in spans]
    for i in lines:
        if '(NSE)' in i:
            symbol = i
            found = 1
            break
    if(found == 1):
        return symbol[:len(symbol)-5].upper()
        
    if(found == 0):
        x = soup.find_all('a')
        mc_number = 111111
        nse_number = 111111
        mc_symbol = "not found"
        nse_symbol = "not found"
        for i in x:
            if('www1.nseindia.com/live_market/dynaContent' in i.attrs['href']):
                nse_number = x.index(i)
                li = str(i.attrs['href'])
                nse_symbol = li[102:li.find('&')]
                found = 1
                break
        
        for i in x:
            if('www.moneycontrol.com' in i.attrs['href']):
                mc_number = x.index(i)
                link = str(i.attrs['href'])
                n = link.find('/', 58) + 1
                cut_link = link[(n):]
                x = cut_link.find('/') + 1
                y = cut_link.find('&')
                mc_symbol = cut_link[x:y]
                if(hasNumbers(mc_symbol)):
                    ur = link[:link.find('&')]
                    # print(ur)
                    ur = ur[:len(ur)-len(mc_symbol)-1] [::-1]
                    # print(ur)
                    sym = ur.find('/')
                    mc_symbol = ur[:sym] [::-1]
                    # print (mc_symbol)
                found = 1
                break
        
        if found == 1:
            if(nse_number < mc_number):
                symbol = nse_symbol
            else:
                symbol = mc_symbol
    if(found == 1):
        return symbol.upper()
    else:
        return "not found"

testing function

In [ ]:
com = 'Bharti Tele-Ventures Ltd'
# print(com[:len(com)-5])
print(find_symbol(com))

In [282]:
src_excel_file = 'company_original.xlsx'
nifty_1995 = pd.read_excel(src_excel_file, sheet_name = '1995', engine = 'openpyxl')
nifty_changes = pd.read_excel(src_excel_file, sheet_name = 'Changes', engine = 'openpyxl')
# print(nifty_1995.shape)

SYMBOLS OF NIFTY 50 - 1995

In [285]:
for i in range(0, len(nifty_1995['Company Name'])):
    nifty_1995.iloc[i, 1] = find_symbol(nifty_1995.iloc[i,0])
    # print(nifty_1995['Company Name'][i], "\t\t\t", nifty_1995.iloc[i, 1])
# print(nifty_1995.iloc[1,0])

SYMBOLS OF INCLUDED INDECIES

In [286]:
for i in range(0, len(nifty_changes['Included in Index'])):
    if(pd.isnull(nifty_changes.iloc[i,1])):
        continue
    nifty_changes.iloc[i, 2] = find_symbol(nifty_changes.iloc[i,1])
#     print(nifty_changes['Included in Index'][i], "\t\t\t", nifty_changes.iloc[i, 2])

SYMBOLS OF EXCLUDED INDECIES

In [287]:
for i in range(0, len(nifty_changes['Excluded from Index'])):
    if(pd.isnull(nifty_changes.iloc[i,3])):
        continue
    nifty_changes.iloc[i, 4] = find_symbol(nifty_changes.iloc[i,3])
#     print(nifty_changes['Excluded from Index'][i], "\t\t\t", nifty_changes.iloc[i, 4])

SHEET NAMES WITH DATA FRAMES

In [288]:
dfs = {'changes' : nifty_changes, '1995': nifty_1995}

STORING DATAFRAMES

In [295]:
writer = pd.ExcelWriter('test2.xlsx', engine='openpyxl')
# print(nifty_1995)
for i in dfs.keys():
    dfs[i].to_excel(writer, sheet_name = i, index = False)
writer.save()
# nifty_1995.to_excel(writer, sheet_name = '1995')

List of all years

In [291]:
year_list = []
for i in range(0, len(nifty_changes.Year)):
    if(not pd.isnull(nifty_changes.Year[i])):
        x = int(nifty_changes.Year[i])
        year_list.append(str(x))
print(year_list)

['1996', '1997', '1998', '1999', '2000', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']

Testing

In [289]:
# dfs['changes'].head()
for i in dfs.keys():
    print(i)

changes
1995

In [293]:
# nifty_changes.head()
f = dfs['2019'].copy()
f

                                 Company Name        symbol
0                                  I T C Ltd.           ITC
1                              HDFC Bank Ltd.      HDFCBANK
2                         State Bank of India          SBIN
3                                   HDFC Ltd.          HDFC
4                            Tata Motors Ltd.    TATAMOTORS
5                    Hindalco Industries Ltd.      HINDALCO
6                             Tata Steel Ltd.     TATASTEEL
7                     Hindustan Unilever Ltd.    HINDUNILVR
8              INDIAN PETROCHEMICALS CORP.LTD           IPC
9                    Reliance Industries Ltd.      RELIANCE
10                      East India Hotels Ltd           EIH
11                    Mahindra & Mahindra Ltd           M&M
12                                  Cipla Ltd         CIPLA
13                  Hero Honda Motors Limited    HEROMOTOCO
14               Infosys Technologies Limited          INFY
15           Bharat Petroleum Corporation Ltd          BPCL
16                       HCL Technologies Ltd       HCLTECH
17                             ICICI Bank Ltd     ICICIBANK
18          Sun Pharmaceutical Industries Ltd     SUNPHARMA
19                   Videsh Sanchar Nigam Ltd       HISTORY
20             Gas Authority of India Limited          GAIL
21                   Bharti Tele-Ventures Ltd  BHARTIAIRTEL
22                        Larsen & Toubro Ltd            LT
23                       Maruti Udyog Limited        MARUTI
24          Oil & Natural Gas Corporation Ltd          ONGC
25              Tata Consultancy Services Ltd           TCS
26                                   NTPC Ltd          NTPC
27        Power Grid Corporation of India Ltd     POWERGRID
28                              Axis Bank Ltd      AXISBANK
29                             Bajaj Auto Ltd    BAJAJ-AUTO
30               Dr. Reddy's Laboratories Ltd       DRREDDY
31                    Kotak Mahindra Bank Ltd     KOTAKBANK
32                           Sesa Goa Limited          VEDL
33                             Coal India Ltd     COALINDIA
34                           Asian Paints Ltd    ASIANPAINT
35                       UltraTech Cement Ltd    ULTRACEMCO
36                          Indusind Bank Ltd    INDUSINDBK
37                                  Wipro Ltd         WIPRO
38                          Tech Mahindra Ltd         TECHM
39          Zee Entertainment Enterprises Ltd          ZEEL
40  Adani Ports and Special Economic Zone Ltd    ADANIPORTS
41                               Yes Bank Ltd       YESBANK
42                        Bharti Infratel Ltd   INDUSTOWERS
43     Bharti Infratel Ltd. Eicher Motors Ltd     EICHERMOT
44                          Bajaj Finance Ltd    BAJFINANCE
45                 Indian Oil Corporation Ltd           IOC
46                                    UPL Ltd           UPL
47                                Vedanta Ltd          VEDL
48                                        NaN           NaN
49                          Bajaj Finserv Ltd    BAJAJFINSV
50                      Grasim Industries Ltd        GRASIM
51                              JSW Steel Ltd      JSWSTEEL
52                          Titan Company Ltd         TITAN
53                   Britannia Industries Ltd     BRITANNIA
54                           Nestle India Ltd     NESTLEIND

In [186]:
company_list_name = [str(x) for x in data['Company Name']]
company_list_symbol = [str(x) for x in data.symbol]
# print(company_list_name[1])
print(len(company_list_name), len(company_list_symbol))

46 46

Creating dataframes

In [ ]:
count = 0
dfs = {'changes' : nifty_changes, '1995': nifty_1995}
data = dfs['1995'].copy()
company_list_name = [str(x) for x in data['Company Name']]
company_list_symbol = [str(x) for x in data.symbol]
print(len(company_list_name), len(company_list_symbol))
for i in range(0, len(nifty_changes.Year)):
    if (i == 0):
        print('skipped')
        continue
    in_sy = nifty_changes['Symbol_In'][i]
    ex_sy = nifty_changes['Symbol_Ex'][i]
    if(pd.isnull(in_sy) and pd.isnull(ex_sy)):
        print(len(company_list_name), len(company_list_symbol))
        
        dfs[year_list[count]] = pd.DataFrame({
            'Company Name' : company_list_name,
            'symbol' : company_list_symbol
        })
        count = count + 1
    else:
        # print(ex_sy, in_sy)
        if(ex_sy in company_list_symbol):
            id = company_list_symbol.index(ex_sy)
            print(id, company_list_symbol[id], company_list_name[id])
            company_list_symbol.remove(ex_sy)
            company_list_name.remove(company_list_name[id])
        company_list_symbol.append(in_sy)
        company_list_name.append(nifty_changes['Included in Index'][i])
        # add company
        # if in excluded remove it
dfs[year_list[count]] = pd.DataFrame({
            'Company Name' : company_list_name,
            'symbol' : company_list_symbol
        })

Excel Formulas using python

In [308]:
import openpyxl
wb = openpyxl.load_workbook("D:\studies\stocks project\Stocks-Project\\test2.xlsx")

In [302]:
print(wb.sheetnames)

['changes', '1995', '1996', '1997', '1998', '1999', '2000', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']

In [309]:
for i in year_list:
    sheet = wb[i]
    count = 0
    for x in sheet.rows:
        count += 1
        if(count == 1):
            continue
        # LTP
        ltp = "=GOOGLEFINANCE("+'"NSE:"&B'+str(count)+',"price")'
        # price that day
        date_price = "=max(index(GOOGLEFINANCE(" + '"NSE:"&B' + str(count) + ',"open", D' + str(count) + "),,2))"
        # print(date_price)
        sheet['C'+str(count)] = ltp
        sheet['D'+str(count)] = "=DATE(" + i + ",1,1)"
        sheet['E'+str(count)] = date_price

In [325]:
chr(65)

'A'

In [320]:
for i in wb.sheetnames:
    sheet = wb[i]
    headers = [c.value for c in next(sheet.iter_rows(min_row=1, max_row=1))]
    print('\t',i)
    count = 0
    for x in range(headers):
        print(x)
        if x == None:
            continue
        else:
            sheet.column_dimensions[x].width = 60
wb.save("testing_wtih_formula_2.xlsx")

	 changes
1

TypeError: expected <class 'str'>

In [241]:
ltp = "=GOOGLEFINANCE(""NSE:""&B" + str(count) +",""price"")"
print(ltp)

=GOOGLEFINANCE(NSE:&B57,price)

In [250]:
count = 5
ltp = "=GOOGLEFINANCE("+'"NSE:"&B'+str(count)+',"price")'
print(ltp)
date_price = "=max(index(GOOGLEFINANCE(" + '"NSE"&B'+str(count)+ ',"open",D' + str(count) + "),,2))"
date_price1 = "=max(index(GOOGLEFINANCE(" + '"NSE":&B' + str(count) + ',"open", D' + str(count) + "),,2))"
print(date_price)
print(date_price1)

=GOOGLEFINANCE("NSE:"&B5,"price")
=max(index(GOOGLEFINANCE("NSE"&B5,"open",D5),,2))
=max(index(GOOGLEFINANCE("NSE":&B5,"open", D5),,2))