In [1]:
print('hello')

hello

In [2]:
import requests
from bs4 import BeautifulSoup

In [3]:
import numpy as np
import pandas as pd
import json
import csv
from google.oauth2 import service_account
import pygsheets

To access google sheets, do the following:
1. Run the code below 
2. From your service.json file copy the client email and share the sheet with it
3. workbook = gc.open('file name')

In [4]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials
scope = ["https://www.googleapis.com/auth/drive", "https://spreadsheets.google.com/feeds"]
credentials = ServiceAccountCredentials.from_json_keyfile_name('D:\studies\stocks project\service.json', scope)
gc = gspread.authorize(credentials)

Web Scraping

In [4]:
def hasNumbers(inputString):
    return any(char.isdigit() for char in inputString)

In [5]:
def find_symbol(name):
    s = ""
    for x in name:
        if(x == " " or x=="."):
            s += "+"
        elif(x == '&'):
            s += "%26"
        else:
            s += x
    if(s[-1] == '+'):
        s = s + "nse"
    else:
        s = s + "+nse"
    found = 0
    symbol = "NA"
    url = "https://www.google.com/search?q=" + s
    # print(s)
    result  = requests.get(url)
    src = result.content
    soup = BeautifulSoup(src, "html.parser")
    spans = soup.find_all('span')
    lines = [span.get_text() for span in spans]
    for i in lines:
        if '(NSE)' in i:
            symbol = i
            found = 1
            break
    if(found == 1):
        return symbol[:len(symbol)-5].upper()
        
    if(found == 0):
        x = soup.find_all('a')
        mc_number = 111111
        nse_number = 111111
        mc_symbol = "not found"
        nse_symbol = "not found"
        for i in x:
            if('www1.nseindia.com/live_market/dynaContent' in i.attrs['href']):
                nse_number = x.index(i)
                li = str(i.attrs['href'])
                nse_symbol = li[102:li.find('&')]
                found = 1
                break
        
        for i in x:
            if('www.moneycontrol.com' in i.attrs['href']):
                mc_number = x.index(i)
                link = str(i.attrs['href'])
                n = link.find('/', 58) + 1
                cut_link = link[(n):]
                x = cut_link.find('/') + 1
                y = cut_link.find('&')
                mc_symbol = cut_link[x:y]
                if(hasNumbers(mc_symbol)):
                    ur = link[:link.find('&')]
                    # print(ur)
                    ur = ur[:len(ur)-len(mc_symbol)-1] [::-1]
                    # print(ur)
                    sym = ur.find('/')
                    mc_symbol = ur[:sym] [::-1]
                    # print (mc_symbol)
                found = 1
                break
        
        if found == 1:
            if(nse_number < mc_number):
                symbol = nse_symbol
            else:
                symbol = mc_symbol
    if(found == 1):
        return symbol.upper()
    else:
        return "not found"

testing function

In [ ]:
com = 'Bharti Tele-Ventures Ltd'
# print(com[:len(com)-5])
print(find_symbol(com))

In [18]:
src_excel_file = 'company_original.xlsx'
nifty_1995 = pd.read_excel(src_excel_file, sheet_name = '1995', engine = 'openpyxl')
nifty_changes = pd.read_excel(src_excel_file, sheet_name = 'Changes', engine = 'openpyxl')
# print(nifty_1995.shape)

SYMBOLS OF NIFTY 50 - 1995

In [7]:
for i in range(0, len(nifty_1995['Company Name'])):
    nifty_1995.iloc[i, 1] = find_symbol(nifty_1995.iloc[i,0])
    # print(nifty_1995['Company Name'][i], "\t\t\t", nifty_1995.iloc[i, 1])
# print(nifty_1995.iloc[1,0])

SYMBOLS OF INCLUDED INDECIES

In [8]:
for i in range(0, len(nifty_changes['Included in Index'])):
    if(pd.isnull(nifty_changes.iloc[i,1])):
        continue
    nifty_changes.iloc[i, 2] = find_symbol(nifty_changes.iloc[i,1])
#     print(nifty_changes['Included in Index'][i], "\t\t\t", nifty_changes.iloc[i, 2])

SYMBOLS OF EXCLUDED INDECIES

In [9]:
for i in range(0, len(nifty_changes['Excluded from Index'])):
    if(pd.isnull(nifty_changes.iloc[i,3])):
        continue
    nifty_changes.iloc[i, 4] = find_symbol(nifty_changes.iloc[i,3])
#     print(nifty_changes['Excluded from Index'][i], "\t\t\t", nifty_changes.iloc[i, 4])

SHEET NAMES WITH DATA FRAMES

In [10]:
dfs = {'changes' : nifty_changes, '1995': nifty_1995}

STORING DATAFRAMES

In [18]:
writer = pd.ExcelWriter('test2.xlsx', engine='openpyxl')
# print(nifty_1995)
for i in dfs.keys():
    dfs[i].to_excel(writer, sheet_name = i, index = False)
writer.save()
# nifty_1995.to_excel(writer, sheet_name = '1995')

List of all years

In [19]:
year_list = []
for i in range(0, len(nifty_changes.Year)):
    if(not pd.isnull(nifty_changes.Year[i])):
        x = int(nifty_changes.Year[i])
        year_list.append(str(x))
print(year_list)

['1996', '1997', '1998', '1999', '2000', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']

Testing

In [ ]:
# dfs['changes'].head()
for i in dfs.keys():
    print(i)

In [ ]:
# nifty_changes.head()
f = dfs['2019'].copy()
f

In [186]:
company_list_name = [str(x) for x in data['Company Name']]
company_list_symbol = [str(x) for x in data.symbol]
# print(company_list_name[1])
print(len(company_list_name), len(company_list_symbol))

46 46

Creating dataframes

In [ ]:
count = 0
dfs = {'changes' : nifty_changes, '1995': nifty_1995}
data = dfs['1995'].copy()
company_list_name = [str(x) for x in data['Company Name']]
company_list_symbol = [str(x) for x in data.symbol]
print(len(company_list_name), len(company_list_symbol))
for i in range(0, len(nifty_changes.Year)):
    if (i == 0):
        print('skipped')
        continue
    in_sy = nifty_changes['Symbol_In'][i]
    ex_sy = nifty_changes['Symbol_Ex'][i]
    if(pd.isnull(in_sy) and pd.isnull(ex_sy)):
        print(len(company_list_name), len(company_list_symbol))
        
        dfs[year_list[count]] = pd.DataFrame({
            'Company Name' : company_list_name,
            'symbol' : company_list_symbol
        })
        count = count + 1
    else:
        # print(ex_sy, in_sy)
        if(ex_sy in company_list_symbol):
            id = company_list_symbol.index(ex_sy)
            print(id, company_list_symbol[id], company_list_name[id])
            company_list_symbol.remove(ex_sy)
            company_list_name.remove(company_list_name[id])
        company_list_symbol.append(in_sy)
        company_list_name.append(nifty_changes['Included in Index'][i])
        # add company
        # if in excluded remove it
dfs[year_list[count]] = pd.DataFrame({
            'Company Name' : company_list_name,
            'symbol' : company_list_symbol
        })

Excel Formulas using python

In [19]:
import openpyxl
wb = openpyxl.load_workbook("D:\studies\stocks project\Stocks-Project\\test2.xlsx")

In [20]:
print(wb.sheetnames)

['changes', '1995', '1996', '1997', '1998', '1999', '2000', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']

ADDING FORMULAS

In [ ]:
for i in year_list:
    sheet = wb[i]
    count = 0
    for x in sheet.rows:
        count += 1
        if(count == 1):
            continue
        # LTP
        ltp = "=GOOGLEFINANCE("+'"NSE:"&B'+str(count)+',"price")'
        # price that day
        date_price = "=max(index(GOOGLEFINANCE(" + '"NSE:"&B' + str(count) + ',"open", D' + str(count) + "),,2))"
        # print(date_price)
        sheet['C'+str(count)] = ltp
        sheet['D'+str(count)] = "=DATE(" + i + ",1,1)"
        sheet['E'+str(count)] = date_price

Adding headings to columns

In [20]:
import openpyxl
wb = openpyxl.load_workbook("D:\studies\stocks project\Stocks-Project\\testing_wtih_formula_2_pqoeitqw.xlsx")
for i in year_list:
    sheet = wb[i]
    count = 0
    sheet['C1'] = 'LTP'
    sheet['D1'] = 'That date'
    sheet['E1'] = 'Price'

wb.save("aise_hi_check.xlsx")

saving the file

In [22]:
wb.save("testing_wtih_formula_2_pqoeitqw.xlsx")

testing the formula

In [ ]:
count = 5
ltp = "=GOOGLEFINANCE("+'"NSE:"&B'+str(count)+',"price")'
print(ltp)
date_price = "=max(index(GOOGLEFINANCE(" + '"NSE"&B'+str(count)+ ',"open",D' + str(count) + "),,2))"
date_price1 = "=max(index(GOOGLEFINANCE(" + '"NSE":&B' + str(count) + ',"open", D' + str(count) + "),,2))"
print(date_price)
print(date_price1)

Getting the records from google sheets and saving them in pandas DF

In [21]:
wb = gc.open('aise_hi_check')
# worksheet = wb.worksheet('2000')
new_dfs = {}
for i in wb.worksheets():
    worksheet = wb.worksheet(str(i.title))
    new_dfs[str(i.title)] = pd.DataFrame(worksheet.get_all_records())

In [45]:
for i in year_list:
    f = new_dfs[str(i)]
    x = f[f['Price'] != "#N/A"]
    new_dfs[str(i)] = x

REMOVED EMPTY DATAFRAMES

In [53]:
list_l = []
for i in new_dfs.keys():
    if new_dfs[i].shape[0] == 0:
        list_l.append(i)        

for i in list_l:
    del new_dfs[i]

Save the new excel file with #N/A removed

In [56]:
writer = pd.ExcelWriter('dropped_NA.xlsx', engine='openpyxl')
# print(nifty_1995)
for i in new_dfs.keys():
    new_dfs[i].to_excel(writer, sheet_name = i, index = False)
writer.save()

Open the new file from google sheets

In [7]:
wb = gc.open('dropped_NA')
# worksheet = wb.worksheet('2000')
dfs = {}
for i in wb.worksheets():
    worksheet = wb.worksheet(str(i.title))
    dfs[str(i.title)] = pd.DataFrame(worksheet.get_all_records())

In [77]:
print(dfs['2009'].head(5))

          Company Name     symbol      LTP   That date   Price
0  Tata Power Co. Ltd.  TATAPOWER   122.95  01/01/2009   76.12
1           I T C Ltd.        ITC   213.70  01/01/2009   57.50
2       HDFC Bank Ltd.   HDFCBANK  1438.10  01/01/2009  102.00
3  State Bank of India       SBIN   425.40  01/01/2009  131.50
4            HDFC Ltd.       HDFC  2471.60  01/01/2009  305.00

Creating a new excel sheet for company with following things:
1. company name
2. company symbol
3. 52-week high
4. 10-week low
5. price

In [173]:
companies_dic = {}
for i in dfs.keys():
    if i == "changes" or i == "1995" or i == "1999" or i == "2000":
        continue
    else:
        for x in dfs[i].symbol:
            # print(dfs[i]['symbol'].index[dfs[i]['symbol'] == x][0])
            if x in companies_dic.keys():
                companies_dic[x]['year'].append(str(i))
            else:
                # list_l = []
                # print(dfs[i]['Company Name'])
                ind = dfs[i]['symbol'].index[dfs[i]['symbol'] == x][0]
                companies_dic[x] = {
                    'name' : dfs[i]['Company Name'][ind],
                    'symbol' : dfs[i]['symbol'][ind],
                    'year' : [str(i)],
                    '52-week-high' : [],
                    '10-week-low' : [],
                    'price' : []
                }

checking all the years the company was listed in nifty 50 and adding them to a list

In [8]:
companies_dic = {}
for i in dfs.keys():
    if i == "changes" or i == "1995" or i == "1999" or i == "2000":
        continue
    else:
        for x in dfs[i].symbol:
            # print(dfs[i]['symbol'].index[dfs[i]['symbol'] == x][0])
            if x in companies_dic.keys():
                companies_dic[x]['year'].append(str(i))
            else:
                # list_l = []
                # print(dfs[i]['Company Name'])
                ind = dfs[i]['symbol'].index[dfs[i]['symbol'] == x][0]
                companies_dic[x] = {
                    'year' : [str(i)]
                }

Converting from dictionary to a pandas DF to save it in EXCEL

In [9]:
pandas_company_df = {}
for i in companies_dic.keys():
    pandas_company_df[i] = pd.DataFrame.from_dict(companies_dic[i])

Saving the pandas DF into EXCEL

In [10]:
writer = pd.ExcelWriter('company_list.xlsx', engine='openpyxl')
for i in pandas_company_df.keys():
    pandas_company_df[i].to_excel(writer, sheet_name= i, index = False)
writer.save()
    # print(pandas_company_df[i].head())

Reading the previously saved excel (DF) to put formulas into specific cells

In [11]:
import openpyxl
wb = openpyxl.load_workbook("D:\studies\stocks project\Stocks-Project\\company_list.xlsx")
for i in wb.sheetnames:
    ws = wb[i]
    # print(ws['A1'])
    for num in range(1, ws.max_row):
        year_val = int(ws['A'+str(num+1)].value)
        init_year = "DATE(" + str(year_val) + ",1,1),"
        final_year = "DATE(" + str(year_val+1) + ",1,1),"
        formula = "=GOOGLEFINANCE(" + '"NSE:' + str(i)+ '", "high",' + init_year + final_year + '"weekly")'
        # print('B'+str((275*(num-1))+1))

        ws['B'+str((55*(num-1))+1)] = formula
        # print(ws[cell_num].value)
        # break
    # break
    # print(i, ws.max_row)
wb.save("weekly_company_list_with_formula.xlsx")

1. After saving the changes, we upload the excel sheet to google sheets and all the values appear there. 
2. We then download the sheet with values and make a new dictionary of all companies with weekly prices

In [17]:
file_name = 'downloaded_weekly_company_list_with_formula.xlsx'
comapany_data_with_prices = {}
wb = openpyxl.load_workbook(file_name)
for i in wb.sheetnames:
    ws = wb[i]
    comapany_data_with_prices[i] = pd.read_excel(file_name, sheet_name = i, engine = 'openpyxl')

In [20]:
for i in comapany_data_with_prices.keys():
    print(i)
    print(comapany_data_with_prices[i].head(5))

TATAPOWER
     year                        Date   High
0  2002.0  2002-01-04 15:29:59.712000  11.92
1  2003.0  2002-01-11 15:29:59.712000  12.04
2  2004.0  2002-01-18 15:29:59.712000  12.47
3  2005.0  2002-01-25 15:29:59.712000  12.62
4  2006.0  2002-02-01 15:29:59.712000  11.41
ITC
     year                        Date   High
0  2002.0  2002-01-04 15:29:59.712000  15.97
1  2003.0  2002-01-11 15:29:59.712000  17.02
2  2004.0  2002-01-18 15:29:59.712000  17.33
3  2005.0  2002-01-25 15:29:59.712000  16.77
4  2006.0  2002-02-01 15:29:59.712000  16.22
HDFCBANK
     year                        Date   High
0  2002.0  2002-01-04 15:29:59.712000     23
1  2003.0  2002-01-11 15:29:59.712000  23.15
2  2004.0  2002-01-18 15:29:59.712000   25.4
3  2005.0  2002-01-25 15:29:59.712000  24.38
4  2006.0  2002-02-01 15:29:59.712000   23.2
SBIN
     year                        Date   High
0  2002.0  2002-01-04 15:29:59.712000  19.28
1  2003.0  2002-01-11 15:29:59.712000  19.55
2  2004.0  2002-01-18 15:29:59.712000  21.18
3  2005.0  2002-01-25 15:29:59.712000  21.04
4  2006.0  2002-02-01 15:29:59.712000  20.75
INDHOTEL
     year                        Date   High
0  2002.0  2002-01-04 15:29:59.712000  13.96
1  2003.0  2002-01-11 15:29:59.712000  14.11
2  2004.0  2002-01-18 15:29:59.712000  14.09
3     NaN  2002-01-25 15:29:59.712000  14.03
4     NaN  2002-02-01 15:29:59.712000  12.78
HDFC
     year                        Date   High
0  2002.0  2002-01-04 15:29:59.712000  67.49
1  2003.0  2002-01-11 15:29:59.712000  65.19
2  2004.0  2002-01-18 15:29:59.712000   65.8
3  2005.0  2002-01-25 15:29:59.712000   64.3
4  2006.0  2002-02-01 15:29:59.712000     65
TATAMOTORS
     year                        Date   High
0  2002.0  2002-01-04 15:29:59.712000  19.71
1  2003.0  2002-01-11 15:29:59.712000  21.81
2  2004.0  2002-01-18 15:29:59.712000  25.76
3  2005.0  2002-01-25 15:29:59.712000  24.18
4  2006.0  2002-02-01 15:29:59.712000  24.73
AMBUJACEM
     year                        Date   High
0  2002.0  2002-01-04 15:29:59.712000  27.31
1  2003.0  2002-01-11 15:29:59.712000  29.33
2  2004.0  2002-01-18 15:29:59.712000  30.25
3  2005.0  2002-01-25 15:29:59.712000   30.8
4  2006.0  2002-02-01 15:29:59.712000  29.67
TATACHEM
     year                        Date   High
0  2002.0  2002-01-04 15:29:59.712000  40.28
1  2003.0  2002-01-11 15:29:59.712000  40.47
2  2004.0  2002-01-18 15:29:59.712000  43.96
3  2005.0  2002-01-25 15:29:59.712000   44.5
4     NaN  2002-02-01 15:29:59.712000  41.27
LT
     year                        Date   High
0  2002.0  2002-01-04 15:29:59.712000  22.21
1  2003.0  2002-01-11 15:29:59.712000  22.64
2  2004.0  2002-01-18 15:29:59.712000  23.27
3  2005.0  2002-01-25 15:29:59.712000  22.74
4  2006.0  2002-02-01 15:29:59.712000  22.21
HINDALCO
     year                        Date   High
0  2002.0  2002-01-04 15:29:59.712000  57.48
1  2003.0  2002-01-11 15:29:59.712000  61.42
2  2004.0  2002-01-18 15:29:59.712000  62.76
3  2005.0  2002-01-25 15:29:59.712000  63.12
4  2006.0  2002-02-01 15:29:59.712000  62.27
TATASTEEL
     year                        Date   High
0  2002.0  2002-01-04 15:29:59.712000   53.8
1  2003.0  2002-01-11 15:29:59.712000  59.15
2  2004.0  2002-01-18 15:29:59.712000  62.48
3  2005.0  2002-01-25 15:29:59.712000  63.89
4  2006.0  2002-02-01 15:29:59.712000  57.44
COLPAL
     year                        Date   High
0  2002.0  2002-01-04 15:29:59.712000  84.38
1  2003.0  2002-01-11 15:29:59.712000  85.25
2  2004.0  2002-01-18 15:29:59.712000   82.2
3     NaN  2002-01-25 15:29:59.712000   79.7
4     NaN  2002-02-01 15:29:59.712000   81.5
RELINFRA
     year                        Date   High
0  2002.0  2002-01-04 15:29:59.712000    207
1  2003.0  2002-01-11 15:29:59.712000  206.5
2  2004.0  2002-01-18 15:29:59.712000  207.5
3  2005.0  2002-01-25 15:29:59.712000  213.4
4  2006.0  2002-02-01 15:29:59.712000    212
HINDUNILVR
     year                        Date    High
0  2002.0  2002-01-04 15:29:59.712000     225
1  2003.0  2002-01-11 15:29:59.712000  224.85
2  2004.0  2002-01-18 15:29:59.712000   218.9
3  2005.0  2002-01-25 15:29:59.712000   223.3
4  2006.0  2002-02-01 15:29:59.712000     224
ACC
     year                        Date    High
0  2002.0  2002-01-04 15:29:59.712000   171.4
1  2003.0  2002-01-11 15:29:59.712000   173.7
2  2004.0  2002-01-18 15:29:59.712000   177.4
3  2005.0  2002-01-25 15:29:59.712000  177.95
4  2006.0  2002-02-01 15:29:59.712000  165.35
ABB
     year                        Date   High
0  2002.0  2002-01-04 15:29:59.712000  37.31
1  2003.0  2002-01-11 15:29:59.712000  38.03
2  2004.0  2002-01-18 15:29:59.712000  37.49
3  2005.0  2002-01-25 15:29:59.712000  40.17
4  2006.0  2002-02-01 15:29:59.712000  40.78
GLAXO
     year                        Date    High
0  2002.0  2002-01-04 15:29:59.712000  153.98
1  2003.0  2002-01-11 15:29:59.712000  153.95
2  2004.0  2002-01-18 15:29:59.712000  163.75
3  2005.0  2002-01-25 15:29:59.712000  172.85
4  2006.0  2002-02-01 15:29:59.712000   172.5
M&M
     year                        Date   High
0  2002.0  2002-01-04 15:29:59.712000  11.75
1  2003.0  2002-01-11 15:29:59.712000  12.24
2  2004.0  2002-01-18 15:29:59.712000  14.61
3  2005.0  2002-01-25 15:29:59.712000  15.06
4  2006.0  2002-02-01 15:29:59.712000  15.21
BHEL
     year                        Date   High
0  2002.0  2002-01-04 15:29:59.712000   9.73
1  2003.0  2002-01-11 15:29:59.712000   9.63
2  2004.0  2002-01-18 15:29:59.712000  10.24
3  2005.0  2002-01-25 15:29:59.712000  10.64
4  2006.0  2002-02-01 15:29:59.712000  10.73
HINDPETRO
     year                        Date   High
0  2002.0  2002-01-04 15:29:59.712000  31.67
1  2003.0  2002-01-11 15:29:59.712000   33.9
2  2004.0  2002-01-18 15:29:59.712000  37.29
3  2005.0  2002-01-25 15:29:59.712000  39.33
4  2006.0  2002-02-01 15:29:59.712000  41.24
MTNL
     year                        Date   High
0  2002.0  2002-01-04 15:29:59.712000    130
1  2003.0  2002-01-11 15:29:59.712000  131.5
2  2004.0  2002-01-18 15:29:59.712000    130
3  2005.0  2002-01-25 15:29:59.712000  125.5
4  2006.0  2002-02-01 15:29:59.712000  123.8
CIPLA
     year                        Date   High
0  2002.0  2002-01-04 15:29:59.712000  92.24
1  2003.0  2002-01-11 15:29:59.712000  96.72
2  2004.0  2002-01-18 15:29:59.712000  96.72
3  2005.0  2002-01-25 15:29:59.712000     92
4  2006.0  2002-02-01 15:29:59.712000   94.8
HEROMOTOCO
     year                        Date    High
0  2002.0  2002-01-04 15:29:59.712000   285.8
1  2003.0  2002-01-11 15:29:59.712000  315.85
2  2004.0  2002-01-18 15:29:59.712000     335
3  2005.0  2002-01-25 15:29:59.712000     346
4  2006.0  2002-02-01 15:29:59.712000  323.75
INFY
     year                        Date   High
0  2002.0  2002-01-04 15:29:59.712000   70.7
1  2003.0  2002-01-11 15:29:59.712000  76.16
2  2004.0  2002-01-18 15:29:59.712000  65.55
3  2005.0  2002-01-25 15:29:59.712000  63.11
4  2006.0  2002-02-01 15:29:59.712000  62.17
NIITLTD
     year                        Date   High
0  2002.0  2002-01-04 15:29:59.712000  34.46
1  2003.0  2002-01-11 15:29:59.712000   38.9
2     NaN  2002-01-18 15:29:59.712000  36.53
3     NaN  2002-01-25 15:29:59.712000  36.33
4     NaN  2002-02-01 15:29:59.712000  32.79
BRITANNIA
     year                        Date  High
0  2002.0  2002-01-04 15:29:59.712000    63
1  2003.0  2002-01-11 15:29:59.712000  60.9
2  2019.0  2002-01-18 15:29:59.712000  60.5
3  2020.0  2002-01-25 15:29:59.712000  59.9
4     NaN  2002-02-01 15:29:59.712000    61
DRREDDY
     year                        Date    High
0  2002.0  2002-01-04 15:29:59.712000     485
1  2003.0  2002-01-11 15:29:59.712000     495
2  2004.0  2002-01-18 15:29:59.712000   490.5
3  2005.0  2002-01-25 15:29:59.712000  522.48
4  2006.0  2002-02-01 15:29:59.712000     505
DABUR
     year                        Date   High
0  2002.0  2002-01-04 15:29:59.712000  11.66
1  2003.0  2002-01-11 15:29:59.712000  11.66
2  2004.0  2002-01-18 15:29:59.712000   11.5
3  2005.0  2002-01-25 15:29:59.712000  11.25
4  2006.0  2002-02-01 15:29:59.712000  10.95
ZEEL
     year                        Date   High
0  2002.0  2002-01-04 15:29:59.712000   63.5
1  2003.0  2002-01-11 15:29:59.712000  67.38
2  2004.0  2002-01-18 15:29:59.712000   69.2
3  2005.0  2002-01-25 15:29:59.712000     68
4  2006.0  2002-02-01 15:29:59.712000  63.43
BPCL
     year                        Date   High
0  2002.0  2002-01-04 15:29:59.712000   33.2
1  2003.0  2002-01-11 15:29:59.712000  34.17
2  2004.0  2002-01-18 15:29:59.712000  37.13
3  2005.0  2002-01-25 15:29:59.712000  37.58
4  2006.0  2002-02-01 15:29:59.712000  39.57
HCLTECH
     year                        Date   High
0  2002.0  2002-01-04 15:29:59.712000  38.92
1  2003.0  2002-01-11 15:29:59.712000   41.2
2  2004.0  2002-01-18 15:29:59.712000     36
3  2005.0  2002-01-25 15:29:59.712000   32.1
4  2006.0  2002-02-01 15:29:59.712000  31.35
ICICIBANK
     year                        Date   High
0  2002.0  2002-01-04 15:29:59.712000  16.95
1  2003.0  2002-01-11 15:29:59.712000  17.13
2  2004.0  2002-01-18 15:29:59.712000  17.36
3  2005.0  2002-01-25 15:29:59.712000  17.36
4  2006.0  2002-02-01 15:29:59.712000  17.35
SCI
     year                        Date   High
0  2002.0  2002-07-05 15:29:59.712000  63.33
1  2003.0  2002-07-12 15:29:59.712000  60.63
2  2004.0  2002-07-19 15:29:59.712000  60.93
3  2005.0  2002-07-26 15:29:59.712000  62.33
4     NaN  2002-08-02 15:29:59.712000  58.77
SUNPHARMA
     year                        Date   High
0  2002.0  2002-01-04 15:29:59.712000  14.45
1  2003.0  2002-01-11 15:29:59.712000  16.13
2  2004.0  2002-01-18 15:29:59.712000  17.29
3  2005.0  2002-01-25 15:29:59.712000  16.25
4  2006.0  2002-02-01 15:29:59.712000  15.92
WIPRO
     year                        Date   High
0  2002.0  2002-01-04 15:29:59.712000  68.14
1  2003.0  2002-01-11 15:29:59.712000  70.31
2  2004.0  2002-01-18 15:29:59.712000  67.46
3  2005.0  2002-01-25 15:29:59.712000  61.38
4  2006.0  2002-02-01 15:29:59.712000  62.96
BAJAJ-AUTO
     year                        Date    High
0  2003.0  2003-01-03 15:29:59.712000  255.98
1  2004.0  2003-01-10 15:29:59.712000     255
2  2005.0  2003-01-17 15:29:59.712000   269.2
3  2006.0  2003-01-24 15:29:59.712000     267
4  2007.0  2003-01-31 15:29:59.712000  259.98
GRASIM
     year                        Date   High
0  2003.0  2003-01-03 15:29:59.712000  45.72
1  2004.0  2003-01-10 15:29:59.712000  48.96
2  2005.0  2003-01-17 15:29:59.712000  45.57
3  2006.0  2003-01-24 15:29:59.712000  48.67
4  2007.0  2003-01-31 15:29:59.712000  48.24
RELIANCE
     year                        Date   High
0  2003.0  2003-01-03 15:29:59.712000   60.7
1  2004.0  2003-01-10 15:29:59.712000   60.2
2  2005.0  2003-01-17 15:29:59.712000  59.86
3  2006.0  2003-01-24 15:29:59.712000   60.4
4  2007.0  2003-01-31 15:29:59.712000  62.41
TATACONSUM
     year                        Date   High
0  2003.0  2003-01-03 15:29:59.712000  17.61
1  2004.0  2003-01-10 15:29:59.712000   17.5
2  2005.0  2003-01-17 15:29:59.712000  17.18
3     NaN  2003-01-24 15:29:59.712000  17.65
4     NaN  2003-01-31 15:29:59.712000   16.9
GAIL
     year                        Date   High
0  2003.0  2003-01-03 15:29:59.712000  13.69
1  2004.0  2003-01-10 15:29:59.712000  14.01
2  2005.0  2003-01-17 15:29:59.712000  13.78
3  2006.0  2003-01-24 15:29:59.712000  14.05
4  2007.0  2003-01-31 15:29:59.712000   13.6
NATIONALUM
     year                        Date   High
0  2003.0  2003-01-03 15:29:59.712000  24.36
1  2004.0  2003-01-10 15:29:59.712000  23.75
2  2005.0  2003-01-17 15:29:59.712000  22.26
3  2006.0  2003-01-24 15:29:59.712000     23
4  2007.0  2003-01-31 15:29:59.712000   23.2
SAIL
     year                        Date   High
0  2003.0  2003-01-03 15:29:59.712000  10.45
1  2004.0  2003-01-10 15:29:59.712000  10.15
2  2005.0  2003-01-17 15:29:59.712000   10.1
3  2006.0  2003-01-24 15:29:59.712000   11.7
4  2007.0  2003-01-31 15:29:59.712000   11.1
MARUTI
     year                        Date    High
0  2004.0  2004-01-02 15:29:59.712000   386.9
1  2005.0  2004-01-09 15:29:59.712000     448
2  2006.0  2004-01-16 15:29:59.712000  454.65
3  2007.0  2004-01-23 15:29:59.712000   431.4
4  2008.0  2004-01-30 15:29:59.712000   444.7
ONGC
     year                        Date   High
0  2004.0  2004-01-02 15:29:59.712000  69.92
1  2005.0  2004-01-09 15:29:59.712000  74.07
2  2006.0  2004-01-16 15:29:59.712000   68.3
3  2007.0  2004-01-23 15:29:59.712000  63.85
4  2008.0  2004-01-30 15:29:59.712000  60.74
PNB
     year                        Date   High
0  2004.0  2004-01-02 15:29:59.712000  49.38
1  2005.0  2004-01-09 15:29:59.712000  55.74
2  2006.0  2004-01-16 15:29:59.712000  62.02
3  2007.0  2004-01-23 15:29:59.712000   57.4
4  2008.0  2004-01-30 15:29:59.712000  60.07
TCS
     year                        Date    High
0  2005.0  2005-01-07 15:29:59.712000  169.59
1  2006.0  2005-01-14 15:29:59.712000  170.99
2  2007.0  2005-01-20 15:29:59.712000   163.7
3  2008.0  2005-01-28 15:29:59.712000  161.85
4  2009.0  2005-02-04 15:29:59.712000  165.43
JETAIRWAYS
     year                    Date    High
0  2006.0 2006-01-06 15:29:59.712  1168.0
1     NaN 2006-01-13 15:29:59.712  1207.0
2     NaN 2006-01-20 15:29:59.712  1189.0
3     NaN 2006-01-27 15:29:59.712  1120.0
4     NaN 2006-02-03 15:29:59.712  1027.8
SIEMENS
     year                        Date    High
0  2006.0  2006-01-06 15:29:59.712000  378.77
1  2007.0  2006-01-13 15:29:59.712000   376.5
2  2008.0  2006-01-20 15:29:59.712000   415.4
3  2009.0  2006-01-27 15:29:59.712000     450
4  2010.0  2006-02-03 15:29:59.712000   464.7
SUZLON
     year                        Date    High
0  2006.0  2006-01-06 15:29:59.712000  183.09
1  2007.0  2006-01-13 15:29:59.712000   181.2
2  2008.0  2006-01-20 15:29:59.712000     185
3  2009.0  2006-01-27 15:29:59.712000   229.6
4  2010.0  2006-02-03 15:29:59.712000   238.4
RCOM
     year                        Date   High
0  2007.0  2007-01-05 15:29:59.712000  479.9
1  2008.0  2007-01-12 15:29:59.712000    445
2  2009.0  2007-01-19 15:29:59.712000    451
3  2010.0  2007-01-25 15:29:59.712000  454.7
4  2011.0  2007-02-02 15:29:59.712000  496.5
NTPC
     year                        Date    High
0  2007.0  2007-01-05 15:29:59.712000  117.33
1  2008.0  2007-01-12 15:29:59.712000  116.63
2  2009.0  2007-01-19 15:29:59.712000  118.75
3  2010.0  2007-01-25 15:29:59.712000  116.17
4  2011.0  2007-02-02 15:29:59.712000  122.33
UNITECH
     year                        Date    High
0  2007.0  2007-01-05 15:29:59.712000  252.95
1  2008.0  2007-01-12 15:29:59.712000   243.9
2  2009.0  2007-01-19 15:29:59.712000     250
3     NaN  2007-01-25 15:29:59.712000     239
4     NaN  2007-02-02 15:29:59.712000  240.35
IDEA
     year                        Date   High
0  2008.0  2008-01-04 15:29:59.712000   85.1
1  2009.0  2008-01-11 15:29:59.712000  85.41
2  2015.0  2008-01-17 15:29:59.712000   90.3
3  2016.0  2008-01-25 15:29:59.712000  84.62
4     NaN  2008-02-01 15:29:59.712000  78.52
DLF
     year                        Date    High
0  2008.0  2008-01-04 15:29:59.712000    1121
1  2009.0  2008-01-11 15:29:59.712000  1209.7
2  2010.0  2008-01-17 15:29:59.712000    1225
3  2011.0  2008-01-25 15:29:59.712000    1005
4  2012.0  2008-02-01 15:29:59.712000     949
POWERGRID
     year                        Date   High
0  2008.0  2008-01-04 15:29:59.712000    156
1  2009.0  2008-01-11 15:29:59.712000  153.2
2  2010.0  2008-01-18 15:29:59.712000  146.1
3  2011.0  2008-01-25 15:29:59.712000    132
4  2012.0  2008-02-01 15:29:59.712000  119.7
RPOWER
     year                        Date    High
0  2009.0  2009-01-02 15:29:59.712000   125.8
1  2010.0  2009-01-09 15:29:59.712000  127.95
2  2011.0  2009-01-16 15:29:59.712000   108.9
3     NaN  2009-01-23 15:29:59.712000   104.9
4     NaN  2009-01-30 15:29:59.712000   107.4
AXISBANK
     year                        Date   High
0  2009.0  2009-01-02 15:29:59.712000  109.5
1  2010.0  2009-01-09 15:29:59.712000  115.4
2  2011.0  2009-01-16 15:29:59.712000  98.96
3  2012.0  2009-01-23 15:29:59.712000     90
4  2013.0  2009-01-30 15:29:59.712000     89
IDFC
     year                        Date   High
0  2009.0  2009-01-02 15:29:59.712000   74.2
1  2010.0  2009-01-09 15:29:59.712000   75.2
2  2011.0  2009-01-16 15:29:59.712000  61.65
3  2012.0  2009-01-23 15:29:59.712000   62.4
4  2013.0  2009-01-30 15:29:59.712000     61
JPASSOCIAT
     year                        Date   High
0  2009.0  2009-01-02 15:29:59.712000  59.97
1  2010.0  2009-01-09 15:29:59.712000  70.43
2  2011.0  2009-01-16 15:29:59.712000     48
3  2012.0  2009-01-23 15:29:59.712000   47.3
4  2013.0  2009-01-30 15:29:59.712000   51.6
JINDALSTEL
     year                        Date    High
0  2009.0  2009-01-02 15:29:59.712000  161.33
1  2010.0  2009-01-09 15:29:59.712000  179.17
2  2011.0  2009-01-16 15:29:59.712000   153.3
3  2012.0  2009-01-23 15:29:59.712000     147
4  2013.0  2009-01-30 15:29:59.712000  176.15
RELCAPITAL
     year                        Date    High
0  2009.0  2009-01-02 15:29:59.712000  584.55
1  2010.0  2009-01-09 15:29:59.712000   626.4
2     NaN  2009-01-16 15:29:59.712000   489.9
3     NaN  2009-01-23 15:29:59.712000   444.9
4     NaN  2009-01-30 15:29:59.712000  425.25
KOTAKBANK
     year                        Date    High
0  2010.0  2010-01-08 15:29:59.712000   213.7
1  2011.0  2010-01-15 15:29:59.712000  215.43
2  2012.0  2010-01-22 15:29:59.712000  219.95
3  2013.0  2010-01-29 15:29:59.712000   205.5
4  2014.0  2010-02-11 15:29:59.712000     188
VEDL
     year                        Date   High
0  2010.0  2010-01-08 15:29:59.712000  421.5
1  2011.0  2010-01-15 15:29:59.712000    424
2  2012.0  2010-01-22 15:29:59.712000    419
3  2013.0  2010-01-29 15:29:59.712000  384.4
4  2014.0  2010-02-11 15:29:59.712000  385.5
COALINDIA
     year                        Date   High
0  2011.0  2011-01-07 15:29:59.712000    320
1  2012.0  2011-01-14 15:29:59.712000  315.5
2  2013.0  2011-01-21 15:29:59.712000  319.2
3  2014.0  2011-01-28 15:29:59.712000  315.7
4  2015.0  2011-02-04 15:29:59.712000    320
ASIANPAINT
     year                        Date    High
0  2012.0  2012-01-13 15:29:59.712000  279.83
1  2013.0  2012-01-20 15:29:59.712000   277.9
2  2014.0  2012-01-27 15:29:59.712000   294.9
3  2015.0  2012-02-03 15:29:59.712000     304
4  2016.0  2012-02-10 15:29:59.712000   312.8
BANKBARODA
     year                        Date    High
0  2012.0  2012-01-13 15:29:59.712000  147.76
1  2013.0  2012-01-20 15:29:59.712000     157
2  2014.0  2012-01-27 15:29:59.712000     166
3  2015.0  2012-02-03 15:29:59.712000   153.8
4  2016.0  2012-02-10 15:29:59.712000  166.05
LUPIN
     year                        Date    High
0  2012.0  2012-01-13 15:29:59.712000     445
1  2013.0  2012-01-20 15:29:59.712000  447.25
2  2014.0  2012-01-27 15:29:59.712000  468.95
3  2015.0  2012-02-03 15:29:59.712000     485
4  2016.0  2012-02-10 15:29:59.712000   499.6
ULTRACEMCO
     year                        Date    High
0  2012.0  2012-01-13 15:29:59.712000  1176.9
1  2013.0  2012-01-20 15:29:59.712000  1234.9
2  2014.0  2012-01-27 15:29:59.712000    1280
3  2015.0  2012-02-03 15:29:59.712000    1280
4  2016.0  2012-02-10 15:29:59.712000    1420
INDUSINDBK
     year                        Date    High
0  2013.0  2013-01-04 15:29:59.712000     442
1  2014.0  2013-01-11 15:29:59.712000   444.9
2  2015.0  2013-01-18 15:29:59.712000  444.35
3  2016.0  2013-01-25 15:29:59.712000   433.9
4  2017.0  2013-02-01 15:29:59.712000     443
NMDC
     year                        Date    High
0  2013.0  2013-01-04 15:29:59.712000  170.95
1  2014.0  2013-01-11 15:29:59.712000   166.8
2     NaN  2013-01-18 15:29:59.712000   165.2
3     NaN  2013-01-25 15:29:59.712000   164.5
4     NaN  2013-02-01 15:29:59.712000   161.3
TECHM
     year                        Date    High
0  2014.0  2014-01-03 15:29:59.712000  468.74
1  2015.0  2014-01-10 15:29:59.712000  472.95